{
    "Changes": [
        {
            "Action": "CREATE", 
            "ResourceRecordSet": {
                "Name": "new-wmp.aws.cambridge.org.", 
                "ResourceRecords": [
                    {
                        "Value": "IPADDRESS"
                    }
                ], 
                "TTL": 300, 
                "Type": "A"
            }
        }
    ], 
    "Comment": "Create Route53 A record to new-wmp used by developers after new EC2 instance creation"
}
